literatures/
degug/
results/
prototype/
.vscode/
examples/
__pycache__/
.pytest_cache/
debug/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.png
NOTE.md
*.csv

# Documentation build files
docs/build/
docs/source/_build/
*.doctree
